<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title id="title" class="ion-text-center">{{ title }}</ion-title>
    <a class="pointer" slot="end">
      <ion-icon color="primary" class="ct-text-color ct-font-size-24px ct-margin-right-8px" slot="icon-only"
        name="close-circle-outline"></ion-icon>
    </a>
  </ion-toolbar>
</ion-header>

<ion-content class="ct-text-color">
  <ion-list>
    <ion-item lines="none">
      <div class="ion-padding">
        <div [innerHTML]="content"></div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>